{{ define "posts/hello.tmpl" }}
<html>
<head>
    <meta charset='utf-8' />
    <title>DocTray</title>
    <link href='/ressources/css/main.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="page-container">
    <div id="main-container">
    <h1>Welcome</h1>
    <ul>
        <li>
            <b>test 01</b>
        </li>
        <li>
            <b>test 02</b>
        </li>
        <li>
            <b>test 03</b>
        </li>
        <li>
            <b>test 04</b>
        </li>
    </ul>
    <b> New List: </b>
    <ul class="main-list">
    {{ range . }}
        <li>
            <b>{{.num}} loop: {{.key}}</b>
        </li>
    {{ end }}
    </ul>
    </div>

{{ template "base/footer.tmpl" }}
{{ end }}
