{{ define "posts/tray.tmpl" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>DocTray</title>
    <link href='/resources/css/main.css' rel='stylesheet' type='text/css' />
	<!-- TODO: self-host material symbols, drop google service -->
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="/resources/scripts/dragondrop.js"></script>
</head>
<body>
<div id="page-container">
    {{ template "base/header.tmpl" }}
    <div id="workspace-container">
    {{ template "base/tags.tmpl" . }}
	<script>
	setInterval(() => {
        htmx.ajax('POST', '/tray/ping', {values: {title:"ping sent"}, swap:'none'})
        //htmx.ajax('GET', '/login', {swap:'none'})
	}, 1 * 50 * 1000);
	</script>
    {{ template "base/doc-list.tmpl" . }}
    </div>

{{ template "base/footer.tmpl" }}
{{ end }}
