{{ define "base/doc-list.tmpl" }}

    <div id="doc-container">
        <div id="doc-container-inner">

            <b> Docs: </b>

            <div class="doc-entry-container" id="doc-entry-container-00">
                <li class="doc-entry doc-type-msg">
                    <div class="doc-entry-inlist debug">

                        <div class="doc-entry-content debug">

							<div class="doc-entry-web-preview debug">
								<div class="doc-entry-web-preview-image">
									<img src="https://www.homesicktexan.com/wp-content/uploads/2017/02/Coca-Cola-braised-carnitas-DSC4126-1-1536x1020.jpg.webp" width="100" height="100">
								</div>
								<div class="doc-entry-web-preview-text">
									<div class="doc-entry-web-preview-title">
										Coca-Cola braised carnitas
									</div>
									<div class="doc-entry-web-preview-description">
										A few years ago, a Texas reader asked me for a carnitas recipe. I shared mine and she said that while they looked good, she was looking for one that used Coca-Cola and milk instead. She explained that she’d had them that way at a local restaurant and they were outstanding. With good intentions, I told her I’d look into it. But I became busy with other projects and sadly forgot about helping her find a recipe as well as the place where she had eaten them.
									</div>
									<div class="doc-entry-web-preview-url">
										https://www.homesicktexan.com/coca-cola-braised-carnitas/this-path-is-only-the-fuckup-the-layout
									</div>
								</div>
							</div>

                            <div class="doc-entry-type-container debug">
                                <div style="white-space:pre-line">When I didn't use stat_summary before it caused the bars to look like they do in the picture below, as it was plotting all of the raw data for each variable on top of each other, so I used stat_summary in order to only plot the mean data values. Would there not be a way, whilst using stat_summary, to have the error bars coming from a different value for each bar?</div>
                            </div>

							<div class="doc-entry-files-container debug">
							<div class="doc-entry-files debug">
								<a href="https://www.google.com">
								<div class="doc-entry-file-container debug">
									<!--<div class="doc-entry-file">-->
										<span class="material-symbols-outlined"> picture_as_pdf </span>
										<div class="doc-entry-file-name">som file name.txt</div>
									<!--</div>-->
								</div></a>
								<div class="doc-entry-file-container debug">
									<!--<div class="doc-entry-file">-->
										<span class="material-symbols-outlined"> star </span>
										<div class="doc-entry-file-name">bla bla bla bla some file name.txt</div>
									<!--</div>-->
								</div>
								<div class="doc-entry-file-container debug">
									<!--<div class="doc-entry-file">-->
										<span class="material-symbols-outlined"> home </span>
										<div class="doc-entry-file-name"><p>1747688700123__vRlFtLSu.sh</p></div>
									<!--</div>-->
								</div>
								<div class="doc-entry-file-container debug">
										<span class="material-symbols-outlined"> home </span>
										<span class="doc-entry-file-name">1_2_3</span>
								</div>
								<div class="doc-entry-file-container debug">
										<span class="material-symbols-outlined"> home </span>
										<div class="doc-entry-file-name"><span>1__2__3__4</span></div>
								</div>
								<div class="doc-entry-file-container debug">
										<span class="material-symbols-outlined"> home </span>
										<div class="doc-entry-file-name"><span>1__2__3__4__5__6__7__8__9__10__11/12__13</span></div>
								</div>
								<!--<div class="doc-entry-file debug">3</div>
								<div class="doc-entry-file debug">4</div>
								<div class="doc-entry-file debug">5</div>
								<div class="doc-entry-file debug">6</div>
								<div class="doc-entry-file debug">7</div>
								<div class="doc-entry-file debug">8</div>
								<div class="doc-entry-file debug">9</div>-->
							</div>
							</div>

                            <div class="doc-entry-stats debug">
                                <div class="doc-entry-stat-id debug">id00</div>
                                <div class="doc-entry-stat-date debug">2025-05-16 23:00</div>
                            </div>
                        </div>

                        <div class="doc-entry-button debug">
                            <div class="doc-entry-button-del">
                                <button hx-post="/tray/doc-delete" hx-vals='{"id":"id00"}' hx-target="closest .doc-entry" hx-swap="outerHTML focus-scroll:true">🗑️</button>
                            </div>
                            <div class="doc-entry-button-fav">
                                <button>🌟</button>
                            </div>
                        </div>

                    </div>
                </li>
            </div>

            <ul class="main-list">
            {{ range $doc := . }}
                {{ template "base/doc.tmpl" $doc }}
            {{ end }}
            </ul>
        </div>

        <div id="uploadform">
            <!--<div class="row">
                <div class="col-md-6 p-5 mt-5">-->
                    <div id="upload-container">
                        <div id="drop_zone" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)" ondragleave="dragLeaveHandler(event)" hx-post="/tray/doc-create" hx-encoding="multipart/form-data" hx-trigger="none">
                        Type Something:
                        <form  class="form" id="form">
                            <div id="messages"></div>
                            <div class="mb-3">
                                <!--<input type="text" class="form-control" id="docUpload-text" placeholder="Title" name="title" onchange="sub_uploadbutton_change(this)" required>-->
                                <!--<input type="text" class="form-control" id="docUpload-text" placeholder="Title" name="title" required>-->
                                <textarea autofocus class="form-control" id="docUpload-text" placeholder="Title" name="title" required></textarea>
                                <div id="docUpload-label" for="docUpload" class="custom-file-upload" onclick="get_file_names()">Select File</div>
                                <input type="file" class="form-control" id="docUpload" name="files" onchange="sub_uploadbutton_change(this)" multiple required>
                                <progress id='progress' value='0' max='100'></progress>
                            </div>
                            <button
                                id="upload-button"
                                hx-encoding="multipart/form-data"
                                hx-target="#doc-container"
                                hx-swap="outerHTML scroll:bottom"
                                hx-post="/tray/doc-create"
                                type="submit" class="btn btn-primary">Upload</button>
                        </form>
                        <script>
                            // HTMX progress bar for uploads
                            htmx.on('#form', 'htmx:xhr:progress', function(evt) {
                              htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
                            });

                            // Only upload files under a certain size (only works with the form, not drag and drop)
                            var uploadField = document.getElementById("docUpload");
                            uploadField.addEventListener('change', (event) => {
                                const target = event.target
                                if (target.files && target.files.length > 0) {
                                    var combined_size = 0
                                    for (var i = 0; i<target.files.length; i++) {
                                        combined_size = combined_size + target.files[i].size
                                    }
                                    if(combined_size > 2097152*5){ // 10MB
                                       alert("File is too big!");
                                       target.value = "";
                                    };
                                }
                            })

                            // Enter for submits, shit+enter for new line
                            document.getElementById("docUpload-text").addEventListener("keypress", e => {
                                if (e.key === "Enter" && !e.shiftKey) {
                                    e.preventDefault();

                                    //e.currentTarget.closest("form").submit();
                                    var form_data = new FormData(document.getElementById("form"))
                                    const text_input = document.getElementById('docUpload-text').value;
                                    htmx.ajax('POST', '/tray/doc-create', {values: {files:form_data.getAll('files'),title:text_input}, source:e.currentTarget, target:"#doc-container", swap:'outerHTML scroll:bottom'})
                                }
                            });
                        </script>
                        </div>
                    </div>
                <!--</div>
            </div>-->
        </div>
    <script type="text/javascript">
        // Jump do bottom of doc entries when page is (re)loaded
        window.addEventListener('load', (event) => {
            setTimeout(() => {
                var doc_container = document.getElementById('doc-container')
                doc_container.scrollTop = doc_container.scrollHeight;
            }, 0);
        });
     </script>
    </div>
{{ end }}
