{{ define "base/doc.tmpl" }}
    <div class="doc-entry-container" id="doc-entry-container-{{.DocID}}">

        <li class="doc-entry doc-type-{{.Type}}">
            <div class="doc-entry-inlist debug">

                <div class="doc-entry-content debug">
                    <div class="doc-entry-tagview debug">
                        {{ range $tagenabled := .Tags_enabled }}
                            <div class="doc-entry-tagview-segment tooltip"
                            hx-post="/tray/post-tag" hx-vals='{"id":{{$.DocID}}, "tag":"{{$tagenabled.Tag.ID}}"}' hx-target="#doc-entry-container-{{$.DocID}}" hx-swap="outerHTML"
                            style="background-color:{{ if $tagenabled.Enabled }}{{ $tagenabled.Tag.Color }}{{ else }}_{{ end }}">
                            {{ if $tagenabled.Enabled }}{{ $tagenabled.Tag.Sym }}{{ else }}_{{ end }}
                            <div class="tooltiptext">{{ $tagenabled.Tag.Name }}</div></div>
                        {{ end }}
                    </div>

                    {{ if .Webpreview }}{{ template "base/doc-webpreview.tmpl" .Webpreview }}{{ end }}

                    <div class="doc-entry-type-container debug">
                        <!--<div style="white-space:pre-line">.Title</div>-->
                        {{.Title}}
					</div>

					{{ if .Files }}{{ template "base/doc-url.tmpl" .Files }}{{ end }}

                    <div class="doc-entry-stats debug">
                        <div class="doc-entry-stat-id debug">{{.DocID}}</div>
                        <div class="doc-entry-stat-date debug">{{ .Date }}</div>
                    </div>
                </div>

                <div class="doc-entry-button debug">
                    <div class="doc-entry-button-del">
                        <button hx-post="/tray/doc-delete" hx-vals='{"id":{{.DocID}}}' hx-target="closest .doc-entry" hx-swap="outerHTML focus-scroll:true">🗑️</button>
                    </div>
                    <div class="doc-entry-button-fav {{ if .Starred }}starred{{end}}">
                        <button hx-post="/tray/doc-star" hx-vals='{"id":{{.DocID}}}' hx-target="closest .doc-entry-button-fav" hx-swap="outerHTML">🌟</button>
                    </div>
                </div>

            </div>
        </li>

    </div>
{{ end }}

{{ define "base/post-tag.tmpl" }}
        <div class="doc-entry-tagview-segment tooltip"
        style="background-color:{{ if .Enabled }}{{ .Tag.Color }}{{ else }}_{{ end }}">
        {{ if .Enabled }}{{ .Tag.Sym }}{{ else }}_{{ end }}
        <div class="tooltiptext">{{ .Tag.Name }}</div></div>
{{ end }}

{{ define "base/doc-webpreview.tmpl" }}
    {{ range $preview := . }}
        <a href="{{ $preview.URL }}" target="_blank" class="webpreview">
        <div class="doc-entry-web-preview debug">
            <div class="doc-entry-web-preview-image">
                <img src="{{ $preview.Image }}" width="100" height="100">
            </div>
            <div class="doc-entry-web-preview-text">
                <div class="doc-entry-web-preview-title">
                    {{ $preview.Title }}
                </div>
                <div class="doc-entry-web-preview-description">
                    {{ $preview.Description }}
                </div>
                <div class="doc-entry-web-preview-url">
                    {{ $preview.URL }}
                </div>
            </div>
        </div>
        </a>
    {{ end }}
{{ end }}

{{ define "base/doc-url.tmpl" }}

	<div class="doc-entry-files-container debug">
		<div class="doc-entry-files debug">

		{{ range $file := . }}
			<a href="{{ $file.Url }}" target="_blank" class="doc-entry-file-download">
			<div class="doc-entry-file-container debug">
					<span class="material-symbols-outlined">{{ $file.Icon }}</span>
					<div class="doc-entry-file-name"><span>{{ $file.OrgName }}</span></div>
			</div></a>
		{{end}}

		</div>
	</div>
{{ end }}
