{{ define "base/doc.tmpl" }}
    <div class="doc-entry-container" id="doc-entry-container-{{.DocID}}">

        <li class="doc-entry doc-type-{{.Type}}">
            <div class="doc-entry-inlist debug">

                <div class="doc-entry-content debug">
                    <div class="doc-entry-type-container debug">
                        <div style="white-space:pre-line">{{.Title}}</div>
                        {{ if .Files }}{{ template "base/doc-url.tmpl" .Files }}{{ end }}
                    </div>
                    <div class="doc-entry-stats debug">
                        <div class="doc-entry-stat-id debug">{{.DocID}}</div>
                        <div class="doc-entry-stat-date debug">{{ .Date }}</div>
                    </div>
                </div>

                <div class="doc-entry-button debug">
                    <div class="doc-entry-button-del">
                        <button hx-post="/tray/doc-delete" hx-vals='{"id":{{.DocID}}}' hx-target="closest .doc-entry" hx-swap="outerHTML focus-scroll:true">🗑️</button>
                    </div>
                    <div class="doc-entry-button-fav {{ if .Starred }}starred{{end}}">
                        <button hx-post="/tray/doc-star" hx-vals='{"id":{{.DocID}}}'hx-target="closest .doc-entry-button-fav" hx-swap="outerHTML">🌟</button>
                    </div>
                </div>

            </div>
        </li>

    <div>
{{ end }}

{{ define "base/doc-url.tmpl" }}
	{{ len . }}:

	<div class="doc-entry-files-container debug">
		<div class="doc-entry-files debug">

		{{ range $file := . }}
			<a href="{{ $file.Url }}" target="_blank" class="doc-entry-file-download">
			<div class="doc-entry-file-container debug">
					<span class="material-symbols-outlined">{{ $file.Icon }}</span>
					<div class="doc-entry-file-name"><span>{{ $file.OrgName }}</span></div>
			</div></a>
		{{end}}

		</div>
	</div>
{{ end }}
