{{ define "base/footer.tmpl" }}
<footer>
    <ul class="footer">
        <li>
            Lukas K. Schumann
        </li>
        <li>
            About
        </li>
        <li>
            Lorem
        </li>
        <li>
            Ipsum
        </li>
    </ul>
</footer>
</body>
</html>
{{end}}
