{{ define "base/header.tmpl" }}
<div id="header">
    <ul class="header">
        <li>
            Welcome to <b>DocTray</b>
        </li>
        <li>
            <a href="/tray">Tray</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</div>
{{ end }}
