{{ define "base/header.tmpl" }}
<div id="header">
    <ul class="header">
        <li>
            Lukas K. Schumann
        </li>
        <li>
            About
        </li>
        <li>
            Hello
        </li>
        <li>
            World
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</div>
{{ end }}
