{{ define "base/tags.tmpl" }}
<div id="tag-container">
    <link href='/resources/css/tags.css' rel='stylesheet' type='text/css' />

    {{ if .Tag_edit }}
        {{ template "base/tags-edit.tmpl" . }}
    {{ else }}
        {{ template "base/tags-show.tmpl" . }}
    {{ end  }}
</div>
{{ end }}

{{ define "base/tags-show.tmpl" }}
        <div id="tag-container-tag-list">
            <ul id="tag-container-ul">
                {{ range $tag := .Tags }}
                    {{ template "base/tagshow.tmpl" $tag }}
                {{ end }}
            </ul>

            <button id="tags-edit-button" hx-post="/tray/tag-edit"
                hx-target="#tag-container"
                hx-post="/tray/tag-create"
                hx-swap="outerHTML">Edit</button>
        </div>
{{ end }}

{{ define "base/tagshow.tmpl" }}
    <li id="tag-li-{{ .Nr }}">
        <div class="tag-container-tag">
            <div class="tag-title">
                <div class="tag-name"><span>{{ .Name }}</span></div>
                {{ .Sym }}
            </div>
            <input type="color" id="color-picker"   name="tag[{{ .Nr }}]color" value="{{ .Color }}" disabled>
            <label class="cb-container">Show
              <input type="checkbox" id="select-tag-{{.Nr}}"   name="tag[{{ .Nr }}]select" value="tag[{{ .Nr }}]select" {{ if .Enabled }}checked{{ end }}
                hx-trigger="change"
                hx-post="/tray/tag-toggle-filter"
                hx-vals='{"id":"{{ .ID }}"}'
                hx-target="#doc-container"
                hx-swap="outerHTML scroll:bottom"
                >
              <span class="checkmark"></span>
            </label>
        </div>
    </li>
{{ end }}

{{ define "base/tags-edit.tmpl" }}
    <form>
        <div id="tag-container-tag-list">
            <ul id="tag-container-ul">
                {{ range $tag := .Tags }}
                    {{ template "base/tagedit.tmpl" $tag }}
                {{ end }}
            </ul>

            <div id="tag-container-buttons">
                <button
                    id="upload-button"
                    hx-encoding="multipart/form-data"
                    hx-post="/tray/tag-create"
                    hx-swap="outerHTML"
                    hx-target="#tag-container"
                    type="submit" class="btn btn-primary">New Tag</button>
                <button
                    id="upload-button"
                    hx-encoding="multipart/form-data"
                    hx-post="/tray/tag-apply"
                    type="submit" class="btn btn-primary">Apply</button>
            </div>

        </div>
    </form>
{{ end }}

{{ define "base/tagedit.tmpl" }}
    <li id="tag-li-{{ .Nr }}">
        <div class="tag-container-tag tag-edit">
            <div class="hidden"> <input type="text"  value="{{ .ID }}"     name="tag[{{ .Nr }}]tag_id" class="input-hidden" readonly="readonly"></div>

            <div class="tag-name-wrapper tooltip"> <input type="text"  value="{{ .Name }}"  name="tag[{{ .Nr }}]name">
                    <div class="tooltiptext-tagedit">tag name</div>
            </div>
            <div class="tag-color-wrapper tooltip"> <input type="color" id="color-picker"   name="tag[{{ .Nr }}]color" value="{{ .Color }}">
                    <div class="tooltiptext-tagedit">tag color</div>
            </div>
            <div class="tag-symbol-color-container">
                <div class="tag-symbol-wrapper tooltip"> <input type="text"  value="{{ .Sym }}"     name="tag[{{ .Nr }}]symbol" maxlength="2" class="tag-symbol">
                    <div class="tooltiptext-tagedit">tag symbol</div>
                </div>
                <div class="tag-button-remove-wrapper tooltip"><button class="tag-button-remove" hx-post="/tray/ping" hx-swap="delete" hx-target="#tag-li-{{ .Nr }}">🗑️</button>
                    <div class="tooltiptext-tagedit">delete tag</div>
                </div>
            </div>
        <div>
    </li>
{{ end }}
