* {
    font-family: Segoe UI;
    /* Arial,Helvetica,sans-serif */
}

body {
    background-image: linear-gradient(to bottom right, red, yellow);
    margin:0px;
    padding:0px;
    min-width:100%;
    max-width:100%;
    height: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
  /* min-width: 100vw; */
}

#workspace-container {
    overflow: hidden;
    position: absolute;
    top: calc(1% + 2.5rem); /* header height */
    left: 50%;
    transform: translateX(-50%);

    background: #ffff3f;
    border-radius: 1em;
    width: 60%;
    min-width: 20em;
    max-width: 50em;
    /* margin: 5em auto; */
    padding: 1em 2em 2em 2em;
    /* flex-direction: column; */
}

.main-list {
    display:inline;
    /* float:left; */

    /* border: solid 1px black; */
    padding: 1px;
    margin: 1px;

    list-style: inside;
    /* list-style-type: none; */
    line-height: 1.5em;
}

#tag-container {
    display: block;
    margin: 2.5rem auto auto 2.5rem;
    float: left;
    max-width: 10em;
    border-radius: 1em;
    background-color: #99f;
    padding: 1em;
}

#doc-container {
    /* position: absolute; */
    /* right: calc(0% + 2.5rem); */
    /* top: calc(0% + 2.5rem); */
    margin: 2.5rem 2.5rem auto auto;
    float: right;
    max-width: 30em;
    border-radius: 1em;
    background-color: #f99;
    padding: 1em;

}

.markzone {
    border-color: black;
    border-style: dashed;
    border-width: 2px;
}

.doc-entry {
    color: #fff;
    background-color: #292929;
    border-radius: 0.75em;
    padding: 0.8em;
    margin: 0.1em;
}


#footer {
    bottom: 0;
    position: absolute;
    height: 2.5rem;
    background-color: #333333;
    width: 100%;
}
#header {
    top: 0;
    position: absolute;
    height: 2.5rem;
    background-color: #333333;
    width: 100%;
}
#header ul.header {
    line-height: 2.5rem;
    width: 70%;
    margin: auto;
    overflow: hidden;
    list-style-type: none;
}
#header ul.header li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    background-color: #333333;
}
#header ul.header li:hover {
    background-color: #222222;
}

footer ul.footer {
    line-height: 2.5rem;
    width: 70%;
    margin: auto;

    /* border: solid 1px black; */
    /* padding: 0px; */
    /* margin: -3em 0 0 0; */
    /* margin: 0; */
    overflow: hidden;

    list-style-type: none;
}
footer ul.footer li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    /* margin: 0 16px; */
    background-color: #333333;
}
footer ul.footer li:hover {
    background-color: #111111;
}
