:root {
    --gray-01: #f2f2f2;
    --gray-02: #d6d6d6;
    --gray-03: #b6b6b6;

    --tray-bg: #f2f2f2;
    --tray-entry-bg: #d6d6d6;
    --tray-entry-fg: #000000;
    --tray-entry-fg-alt: #191919;
    --color-01: #335599;
    --color-02: #335599;
}

@font-face {
    font-family: 'Gowun';
    src: url('/resources/fonts/Gowun_Dodum/GowunDodum-Regular.ttf');
}
@font-face {
    font-family: 'Lexend';
    src: url('/resources/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Outfit';
    src: url('/resources/fonts/Outfit/Outfit-VariableFont_wght.ttf');
}


@font-face {
    font-family: 'Quicksand';
    src: url('/resources/fonts/Quicksand/static/Quicksand-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Quicksand';
    src: url('/resources/fonts/Quicksand/static/Quicksand-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Quicksand';
    src: url('/resources/fonts/Quicksand/static/Quicksand-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('/resources/fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
    font-family: 'Onest';
    src: url('/resources/fonts/Onest/Onest-VariableFont_wght.ttf');
}


/*  */

* {
    /* font-family: Segoe UI; */
    /* font-family: Arial,Helvetica,sans-serif; */
    /* font-family: Inter; */
    font-family: Helvetica;
    /* font-weight: 500; */
}

body {
    background-image: linear-gradient(to bottom right, #99f, #36c);
    margin:0px;
    padding:0px;
    min-width:100%;
    max-width:100%;
    height: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  /* min-width: 100vw; */
}

#workspace-container {
    overflow: hidden;
    position: absolute;
    top: calc(1% + 2.5rem); /* header height */
    left: 50%;
    transform: translateX(-50%);

    background: #ffff3f;
    border-radius: 1em;
    width: 70%;
    min-width: 30em;
    max-width: 90em;
    /* margin: 5em auto; */
    padding: 1em 2em 2em 2em;
    /* flex-direction: column; */
}

.main-list {
    display:inline;
    /* float:left; */

    /* border: solid 1px black; */
    padding: 1px;
    margin: 1px;

    list-style: inside;
    /* list-style-type: none; */
    line-height: 1.5em;
}

#tag-container {
    /* display: block; */
    margin: 0.5rem auto 0.5rem auto;
    /* float: left; */
    /* max-width: 10em; */
    border-radius: 1em;
    background-color: #99f;
    padding: 1em;
}

#tag-container ul {
    line-height: 2.5rem;
    width: 70%;
    margin: auto;
    overflow: hidden;
    list-style-type: none;
}
#tag-container ul li {

    float: left;
    display: block;
    background-color: #522;
    color: #fff;
    margin: 2px;
    padding: 0 8px;
}

#doc-container {
    /* position: absolute; */
    /* right: calc(0% + 2.5rem); */
    /* top: calc(0% + 2.5rem); */
    margin: 1vh auto;
    /* float: right; */
    max-width: 70em;
    min-width: 25em;
    height: 70vh;
    /* max-height: 80em; */
    border-radius: 1em;
    background-color: var(--tray-bg);
    overflow-y: auto;   /* scroll when to big */
}
#doc-container-inner {
    padding: 1em;
}
#uploadform {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #333 #999 #999 #999;
    /* width: 100%; */
    /* overflow: hidden; */
    /* display:inline-block; */
    margin: 0;
    padding: 1em;
    min-height: 5em;
}
#drop_zone {
    overflow: hidden;
    /* white-space: nowrap; */
}
input[type="file"] {
    display: none;
}
#docUpload-text::placeholder {
    font-style: italic;
}
#docUpload-text {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    /* display: inline-block; */
    padding: 6px 12px;
    cursor: pointer;
}
#docUpload-label {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: inline-block; */
    padding: 6px 12px;
    cursor: pointer;
}
#upload-button {
    float:right;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 6px;
    /* display: inline-block; */
    padding: 6px 12px;
    cursor: pointer;
}

.markzone {
    border-color: black;
    border-style: dashed;
    border-width: 2px;
}

.doc-entry-container li {
    list-style: none;
}

.doc-entry {
    color: var(--tray-entry-fg);
    background-color: var(--tray-entry-bg);
    border-radius: 0.75em;
    max-width: 70%;
    padding: 0.8em;
    margin: 0.1em;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.doc-entry.doc-type-msg {
    border-color: black;
}
.doc-entry.doc-type-file {
    border-color: blue;
    /* font-size: 10px; */
}
.doc-entry.doc-type-removed {
    border-color: #d96969;
    border-width: 3px;
    border-style:inset;
    background-color: #d9696966 !important;
}
.doc-entry a {
    color: var(--color-01);
    font-weight: 300;
    font-family: monospace;
}
.doc-entry button {
    display: block;
    align-self: flex-end;
    background-color: var(--gray-03);
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    aspect-ratio: 1 / 1;
    border-width: 0;
    color: var(--gray-01);
}
.doc-entry button:hover {
    background-color: var(--gray-01);
    color: var(--gray-03);
}


#footer {
    bottom: 0;
    position: absolute;
    height: 2.5rem;
    background-color: #333333;
    width: 100%;
}
#header {
    top: 0;
    position: absolute;
    height: 2.5rem;
    background-color: #333333;
    width: 100%;
}
#header ul.header {
    line-height: 2.5rem;
    width: 70%;
    margin: auto;
    overflow: hidden;
    list-style-type: none;
}
#header ul.header li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    background-color: #333333;
}
#header ul.header li a{
    color: white;
}
#header ul.header li:hover {
    background-color: #222222;
}

footer ul.footer {
    line-height: 2.5rem;
    width: 70%;
    margin: auto;

    /* border: solid 1px black; */
    /* padding: 0px; */
    /* margin: -3em 0 0 0; */
    /* margin: 0; */
    overflow: hidden;

    list-style-type: none;
}
footer ul.footer li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    /* margin: 0 16px; */
    background-color: #333333;
}
footer ul.footer li:hover {
    background-color: #111111;
}
