{{ define "base/header.tmpl" }}
<nav id="header" aria-label="Main navigation">
    <ul class="header">
        <li>
            <a href="/"><b>DocTray</b></a>
        </li>
        <li>
            <a href="/tray">Tray</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</nav>
{{ end }}
